<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Including Bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/c3fe118872.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Title top right -->
            <div class="title col" style="margin: 10px;">
                <h1>Oskle.</h1>
            </div>
            <!-- Reset Icon top left -->
            <div class="reset-box col" style="margin: 10px;">
                <i id="reset-icon" class="fa-solid fa-rotate-right fa-2xl"></i>
            </div>
        </div>
    </div>
    <%- body %>
</body>
</html>