.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 2px;
    margin-top: 2vh;
}

.cube {
    width: 60px;
    height: 60px;
    border: 3px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 0; */
    /*
    Disabling highlighting and user selection
    */
    pointer-events: none;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

h2 {
    margin-bottom: 0;
}

/* Keyboard stuff */
.keyboard {
    display: grid;
    grid-template-columns: repeat(1, 60px);
    grid-template-rows: repeat(3, 60px) 60px;
    gap: 2px;
    margin-top: 10vh;
}

.keyboard-row {
    display: grid;
    grid-template-columns: repeat(11, 60px);
    gap: 2px;
    margin-top: 2vh;
    justify-content: center;
}

.second-row {
    grid-template-columns: repeat(10, 60px);;
}

.third-row {
    grid-template-columns: repeat(7, 60px);;
}

.key {
    width: 60px;
    height: 60px;
    border: 3px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.special-key {
    background-color: #dbdbdb;
}

.key:hover {
    background-color: #e0e0e0;
}

#final-word {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}

.reset-box {
    display: flex;
    justify-content: flex-end;

    i:hover {
        cursor: pointer;
    }
}