body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 2px;
    margin-top: 10vh;
}

.cube {
    width: 60px;
    height: 60px;
    border: 3px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 0; */
    /*
    Disabling highlighting and user selection
    */
    pointer-events: none;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

h1 {
    margin-bottom: 0;
}